@font-face {
    font-family: 'big_noodle_titling';
    src: url('Assets/Font/big_noodle_titling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Menggunakan font di seluruh halaman */
  body {
    font-family: 'big_noodle_titling', sans-serif;
    background-color: #00ff62;
  }


/*Display*/
.timer-container {
    width: 1761px;
    background-color: #f0f0f0;
    overflow: hidden;
    height: 10px;
    position: relative;

}
.timer-bar {
    height: 100%;
    width: 100%;
    background-color: #021d38;
    transition: width linear;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mainbox {
    width: 1761px;
    height: 254px;
    background-image: url(Assets/Other/Background.png);
    background-size: 100%;
    overflow: hidden ;
    background-color: aqua
    
}

.midbackground{
    width: 328px;
    height: 254px;
    margin-top: 190px;
}

.upper {
    width: 1761px;
    height: 64px;
    
    display: flex;
    align-items: center;
}

.upperleft {
    width: 716.5px;
    height: 64px;
    
    align-items: center;
    display: flex;
}

.uppermid {
    width: 328px;
    height: 64px;
    align-items: center;
    display: flex;
}

.upperright {
    width: 716.5px;
    height: 64px;
    
    align-items: center;
    display: flex;
}

.lower{
    display: flex;
    align-items: center;
    width: 1761px;
    height: 190px;
}

.lowerleft {
    width: 716.5px;
    height: 190px;
    
    display: flex;
    align-items: center;
}

.nameholder{
    width: 1761px;
    height: 30px;
    margin-top: -30px;
    display: flex;
    
}

.ghostnamebox{
    width: 328px;
    height: 30px;
    margin-left: 1px;
    display: flex;
}

.nameholderbox{
    width: 110px;
    height: 25px;
    margin-left: 33.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;

}

.nameholderbox2{
    width: 110px;
    height: 25px;
    margin-right: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;

}

.lowermid {
    width: 328px;
    height: 190px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.direction{
    width: 329px;
    height: 90px;
    justify-content: center;

}

.phase {    
    margin-top: 000px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #021d38;

}
.direction img {
    width: 150px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: -5px;

}
.timer {
    font-size: 50px;
    color: #021d38;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 140px;
}

.lowerright {
    width: 716.5px;
    height: 190px;
    
    align-items: center;
    display: flex;
}

.ghostboxban {
width: 25px;
}

.ban {
    width: 50px;
    height: 50px;
    background-image: url(Assets/Other/ban.png);
    background-size: 101%;
    margin: 10px;
    overflow: hidden;
    
}

.ban2 {
    width: 50px;
    height: 50px;
    background-image: url(Assets/Other/ban.png);
    background-size: 100%;
    margin: 10px;
    overflow: hidden;

}

.ban img {
    filter: grayscale(100%)
}
.ban2 img {
    filter: grayscale(100%)
}


.bluesideteam {
    width: 350px;
    height: 64px;
    background-image: url(Assets/Other/bluesidename.png);
    background-size: 100%;
    margin-left: 10px;
}

.bluesidescore {
    width: 51px;
    height: 64px;
    background-image: url(Assets/Other/scorebackground.png);
    background-size: 102%;
    background-color: aqua;
    font-size: 60px;
    justify-content: center;
    display: flex;
    color: #021d38;
}

.redsideteam {
    width: 350px;
    height: 64px;
    background-image: url(Assets/Other/redsidename.png);
    background-size: 100%;
    margin-right: 10px;
}

.redsidescore {
    width: 51px;
    height: 64px;
    background-color: aqua;
    background-image: url(Assets/Other/scorebackground.png);
    background-size: 102%;
    font-size: 60px;
    justify-content: center;
    display: flex;
    color: #021d38;
}

.pick {
    width: 110px;
    height: 142px;
    margin-bottom: 15px ;
    margin-left: 33.5px;
    background-image: url(Assets/Other/pickbg.png);
    background-size: 100%;
    overflow: hidden;
    
}

.pick2 {
    width: 110px;
    height: 142px;
    margin-bottom: 15px ;
    margin-right: 33px;
    background-image: url(Assets/Other/pickbg.png);
    background-size: 100%;
    overflow: hidden;
}

.logoholder {
    width: 1761px;
    height: 64px;
    display: flex;

}

.leftlogoholder{
    width: 716.5px;
    height: 64px;
    display: flex;
    background-color: saddlebrown;

}


.rightlogoholder{
    width: 716.5px;
    height: 64px;
    display: flex;
   

}

.midlogoholderP{
    width: 328px;
    height: 64px;
    display: flex;
    
}

.bluelogo{
    width: 64px;
    height: 64px;
    display: flex;
    margin-top: -220px;
}

.redlogo{
    width: 64px;
    height: 64px;
    
    display: flex;
    margin-top: -220px;
}

.ghostmidlogoholder{
    width: 198px;
    height: 64px;
   
    display: flex;
}
/*Control*/

.control {
    margin-top: 20px;
    display: flex;
    margin-right: 10px;
    
}

.controlbutton{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
}

.allcontrol{
    display: flex;

}

.bluesidecontrol{
    margin-right: 10px;

}
.bluesidepick{
    margin-right: 10px;
}
.bluesideban{
    margin-right: 100px; 
}

.bluelast{
    margin-left: 100px;
}

.redsidecontrol{
    margin-right: 10px;
}

.redsidepick{
    margin-right: 10px;
}

.bluesideban{
    margin-right: 100px; 
}

.redlast{
    margin-left: 100px;
}
/* Dropdown */

.dropdown-container {
    position: relative;
    width: 100px;
    margin-bottom: 10px;
}

.dropdown {
    width: 100%;
    padding: 8px;
}

.dropdown-items {
    position: absolute;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Animasi Fly-In dan Fly-Out */
.fly-in {
    animation: flyIn 1.5s ease-in-out;
}

.fly-out {
    animation: flyOut 1.2s ease-in-out;
}

/* Keyframes untuk animasi */
@keyframes flyIn {
    0% {
        opacity: 1;
        transform: translateY(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flyOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateY(650px);
    }
}

/* Style untuk gambar */
.image-display img {
    max-width: 100%;
    height: auto;
    
    
}

/*aaa*/
.container {
    
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.input-container, .image-container, .button-container, .checkbox-container {
    
    margin: auto;
    
    
}
.image-container img {
    justify-content: space-around;
    width: 50px; /* Lebar gambar */
    height: 50px; /* Tinggi gambar */
    object-fit: contain;
}

.wimg{
    width: 27px;
    height: 10px;
    margin-top: -1px;
    background-color: grey;
    overflow: hidden;
}


.image-container img:hover {
    transform: scale(1.05);
}


.team-name-display1 {
    font-size: 40px;
    font-weight: normal ;
    text-align: right;
    margin-right : 10px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    letter-spacing: 1px;
}

.team-name-display2 {
        font-size: 40px;
        font-weight: normal ;
        text-align: left;
        margin-left: 10px;
        margin-top: 12px;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        letter-spacing: 1px;
        
    }
    
.input-container input, .button-container button, .checkbox-container label {
    padding: 8px;
    font-size: 10px;
    border-radius: 4px;
    border: 1px solid #272727;
}

.button {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
}